WebApplication1/Service References/ReferenciaNegocio/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5099/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5099/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5099/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ListadoPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoPais" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_ListadoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ListadoPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListadoPais" message="tns:IService1_ListadoPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListadoPaisResponse" message="tns:IService1_ListadoPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListadoCliente" message="tns:IService1_ListadoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListadoClienteResponse" message="tns:IService1_ListadoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarCliente" message="tns:IService1_AgregarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarClienteResponse" message="tns:IService1_AgregarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarCliente" message="tns:IService1_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarClienteResponse" message="tns:IService1_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarCliente" message="tns:IService1_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarClienteResponse" message="tns:IService1_EliminarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoPais">
      <soap:operation soapAction="http://tempuri.org/IService1/ListadoPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/ListadoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:5099/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>